@media (min-width: #{ $tablet + 1 }) {
    nav .menu {
        display: none;
    }
}

@media (max-width: $mac) {
    nav {
        width: 90%;
    }
}

@media (max-width: $laptop) {
    section.home {
        margin: 350px 0 0 0;
    }
}

@media (max-width: $tablet) {
    nav .routes .nav-link {
        display: none;
    }

    nav .menu {
        display: block;
    }
}

@media (max-width: $mobile) {
    section.home {
        margin: 150px 0;
        gap: 50px;
    }
}