@media only screen and (min-width: 1800px) {
    section {
        padding: 5% 25% 5% 25%;
    }

    /* ------------------------------------ - ----------------------------------- */
    
    .sectionJourney aside {
        max-width: 700px;
    }
    
    .sectionJourney .object {
        max-width: 1000px;
        max-height: 1000px;
    }
    .regularInformation {
        padding-bottom: 30%;
    }
    .sectionContact {
        padding-top: 300px;
    }
}