footer {
    background-color: #000b11;
    padding: 10% 15% 10% 15%;
}

footer h2 {
    text-align: center;
}

footer .social {
    display: flex;
    justify-content: center;
    margin: 8% 0 8% 0;
}

footer summary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer summary div {
    padding: 5%;
}

footer summary a, footer summary h5 {
    display: block;
    margin-bottom: 30px;
}

footer .social {
    display: flex;
    justify-content: center;
    margin: 8% 0 8% 0;
}

footer .social a {
    margin: 0px 25px 0px 25px;
}