* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
    color: white;
}

body {
    background-color: #000b11;
}

/* -------------------------------------------------------------------------- */
/*                                    Text:                                   */
/* -------------------------------------------------------------------------- */

h1,
h2,
h3 {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}

h1 {
    font-size: 35px;
    text-transform: capitalize;
}

h2 {
    font-size: 28px;
}

h3 {
    text-transform: capitalize;
}

h4 {
    text-transform: uppercase;
    font-weight: 300;
}

h5 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 30px;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

/* -------------------------------------------------------------------------- */
/*                                  buttons:                                  */
/* -------------------------------------------------------------------------- */

button {
    background-color: white;
    color: black;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 15px 32px;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    transition: background-color 0.5s, color 0.2s;
    margin-right: 20px;

}

button a {
    color: black;
}

button:hover {
    background: rgba(52, 52, 52, 0.85);
    border: 1px solid rgb(255, 255, 255);
    color: beige;
    cursor: pointer;
}

a {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    text-decoration: none;
    transition: color 0.2s;
}

a:hover {
    color: rgb(0, 251, 251);
}

svg {
    transition: all 0.5s;
}

svg:hover {
    stroke: rgb(0, 251, 251);;
}

/* -------------------------------------------------------------------------- */
/*                                  Sections                                  */
/* -------------------------------------------------------------------------- */

section {
    padding: 5% 10% 5% 10%;
}

/* ------------------------------------ - ----------------------------------- */

.sectionIntroduction #background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.sectionIntroduction {
    padding-top: 15%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}

.sectionIntroduction * {
    margin-bottom: 50px;
}

.sectionIntroduction .object {
    max-width: 300px;
}

.sectionIntroduction .profile {
    border-radius: 100%;
    max-width: 250px;
    border: solid 5px white;
}

/* ------------------------------------ - ----------------------------------- */

.sectionAbout {
    background-color: rgb(15, 15, 15);
}

.sectionAbout .about {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
}

.sectionAbout .about .text {
    max-width: 500px;
    padding: 2%;
}

.sectionAbout .links {
    background-color: rgb(15, 15, 15);
    border-radius: 5px;
    padding: 2%;
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.2);
    max-width: 500px;
}

.sectionAbout .object2 {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}

/* ------------------------------------ - ----------------------------------- */

.sectionJourney {
    background-color: #000b11;
    padding: 15% 2% 2% 2%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sectionJourney aside {
    max-width: 500px;
}

.sectionJourney .object {
    max-width: 100%;
    max-height: 600px;
}

.sectionJourney h4 {
    margin-bottom: 20px;
}

.sectionJourney .artstation {
    display: flex;
    justify-content: space-evenly;
    background: rgba(0, 0, 0, 0.85);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 20px;
    width: 200px;
    transition: all 0.3s;
}

aside p {
    margin: 30px 0 30px 0;
}

.sectionJourney .artstation img {
    max-width: 20px;
}

.artstation:hover {
    background: rgba(52, 52, 52, 0.85);
    border: 1px solid rgb(255, 255, 255);
    color: beige;
}

/* ------------------------------------ - ----------------------------------- */

.skills {
    margin: 50px auto 50px auto;
    background: linear-gradient(90deg, rgba(121, 9, 82, 0.3) 0%, rgba(0, 212, 255, 0.3) 100%);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgb(238, 0, 255);
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 700px;
}

.skills img {
    max-width: 50px;
}

/* ------------------------------------ - ----------------------------------- */

.sectionGallery hr {
    margin: 50px auto 100px auto;
    border: 6px solid white;
    width: 100px;
}

.sectionGallery h4 {
    background: linear-gradient(90deg, rgba(0, 212, 255, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgb(255, 255, 255);
    padding: 1%;
    font-weight: 600;
    letter-spacing: 5px;
    color: rgb(255, 255, 255);
    margin: 50px 0 50px 0;
}

.sectionGallery .mech {
    border-radius: 20px;
    max-width: 90%;
    margin: 20px auto 0 auto;
    border: solid white 2px;
}

.sectionGallery .environments {
    border-radius: 20px;
    max-width: 90%;
    margin: 20px auto 0 auto;
    border: solid white 2px;
}

.sectionGallery .largerShowcase {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sectionGallery .mechs {
    border-radius: 20px;
    max-width: 40%;
    margin: 20px;
    border: solid white 2px;
}

.sectionGallery .imagesRoulette {
    max-width: 300px;
}

.sectionGallery .showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* ------------------------------------ - ----------------------------------- */

.sectionContact {
    background-color: white;
    height: 100vh;
    padding-top: 150px;
}
.sectionContact h1 {
    color: black;
    font-size: 55px;
    font-weight: bolder;
}

.sectionContact h2 {
    color: black;
    text-transform: uppercase;
}

.sectionContact h3 {
    color: black;
    text-transform: uppercase;
}
.sectionContact h4 {
    color: black;
    margin-bottom: 20px;
}

.sectionContact a {
    margin: 0 20px 0 20px;
}

.contactArtstation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 3px solid rgb(255, 255, 255);
    padding: 20px;
    height: 75px;
    width: 200px;
    transition: all 0.3s;
}

.contactArtstation:hover {
    background: rgba(52, 52, 52, 0.85);
    border: 3px solid beige;
    color: beige;
}

.contactArtstation img {
    max-width: 100%;
    height: 20px;
}

.regularInformation {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20%;
    flex-wrap: wrap;
}

.contactInformation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* ------------------------------------ - ----------------------------------- */

.sectionllustrations {
    padding-top: 200px;
    background-color: #E6E6E6;
}

.sectionllustrations h1 {
    color: black;
    font-size: 55px;
    margin: 50px 0 50px 0;
}

.sectionllustrations h2 {
    color: black;
    font-size: 55px;
    margin: 50px 0 50px 0;
}

.sectionllustrations h4 {
    background: rgb(0, 0, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 1%;
    font-weight: 600;
    letter-spacing: 5px;
    color: rgb(255, 255, 255);
    margin: 50px 0 50px 0;
}

.sectionllustrations span {
    font-weight: 400;
    color: beige;
    font-style: italic;
    text-transform: none;
}

.sectionllustrations p {
    color: black;
    margin: 50px 0 50px 0;
    max-width: 600px;
}

.illustrations {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.illustrations img {
    max-width: 30%;
    border-radius: 15px;
    padding: 0.5%;
}

.illustrations2 img {
    max-width: 45%;
    padding: 0.5%;
    border-radius: 15px;
}