@media only screen and (max-width: 1230px) {

    /* -------------------------------------------------------------------------- */
    /*                                   Navbar                                   */
    /* -------------------------------------------------------------------------- */

    .desktop {
        display: none;
    }

    #menu {
        display: block;
    }

    #menu img {
        width: 35px;
    }

    nav .nav {
        display: block;
    }

    /* -------------------------------------------------------------------------- */
    /*                                  sections:                                 */
    /* -------------------------------------------------------------------------- */

    section {
        padding: 100px 2% 100px 2%;
    }

    .sectionIntroduction {
        padding-top: 250px;
        justify-content: space-around;
    }

    /* -------------------------------------------------------------------------- */
    /*                                   footer:                                   */
    /* -------------------------------------------------------------------------- */

    footer {
        padding: 100px 5% 100px 5%;
    }

    /* -------------------------------------------------------------------------- */
    /*                                   buttons:                                  */
    /* -------------------------------------------------------------------------- */

    button {
        margin-bottom: 25px;
    }

}

@media only screen and (max-width: 535px) {

    .sectionJourney {
        padding-top: 200px;
    }


    .sectionJourney .object {
        max-width: 100%;
    }

    .sectionContact {
        height: auto;
    }

    .sectionContact a {
        margin: 50px 50px 50px 0;
    }

    /* ------------------------------------ - ----------------------------------- */

    .skillset {
        text-align: start;
        padding-left: 2%;
    }

    .skills {
        margin: 2%;
        padding: 5%;
    }

    .skills img {
        max-width: 30px;
    }

    .sectionGallery .mech,
    .sectionGallery .mechs {
        max-width: 100%;
        margin: 10px 0 10px 0;
    }

    .sectionGallery .showcase {
        justify-content: space-around;
    }

    .sectionGallery .imagesRoulette {
        max-width: 100%;
    }

    .sectionllustrationsIntro {
        padding-top: 250px;
    }

    .sectionllustrations img {
        max-width: 100%;
    }

    .sectionllustrations h1,
    .sectionllustrations h2 {
        font-size: 40px;

    }


    /* -------------------------------------------------------------------------- */
    /*                                   footer:                                   */
    /* -------------------------------------------------------------------------- */

    footer summary {
        justify-content: flex-start;
    }

}