section.home {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 550px 0;
    gap: 100px;
    width: 90%;

    .contactInfo {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}